@media (min-width: 300px) and (max-width: 420px) {
  .life-to-pgo .nav-pills {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
  }
  .sec-download-app-detail ul li a img {
    width: 100px;
  }
}

@media (max-width: 575.98px) and (min-width: 300px) {
  .main-banner-slider-left h1 {
    font-size: var(--main-font-size-heading);
    text-align: center;
    margin: 0 auto;
  }
  .main-banner-slider-left h1 span {
    font-size: var(--main-font-size-heading);
  }
  .main-banner-slider-left {
    margin-top: 100px;
    text-align: center;
  }
  .main-banner-slider-right img {
    margin: 28px auto;
  }
  .main-banner-slider-left p {
    width: 100%;
  }
  .life-to-pgo-tabs-img img {
    width: 100%;
    text-align: center;
    float: unset;
    margin: 0 auto;
  }
  .title-head {
    font-size: var(--main-font-size-heading);
    padding: 0px 10px;
  }
  .life-to-pgo .nav-pills .nav-link {
    font-size: var(--main-font-size-papagraph);
  }
  .life-to-pgo-tabs-detils {
    align-items: center;
    text-align: center;
  }
  .sec-download-app-detail {
    align-items: center;
  }
  h1 {
    font-size: var(--main-font-size-heading);
  }
  ul.amenities-icons {
    padding: 0px;
    margin: 0px;
  }
  #sec-download-app {
    background-color: var(--main-bg-color);
  }
  .m-50 {
    padding: 25px 0px;
  }
  section#sec-pgo-amenities ul.amenities-icons li.amenities-icon h3 {
    font-size: var(--main-font-size-papagraph);
  }
  section#sec-pgo-amenities ul.amenities-icons li.amenities-icon {
    margin: 0 auto;
  }
  section#sec-pgo-amenities
    ul.amenities-icons
    li.amenities-icon
    div.icon-img
    img {
    width: 100px;
  }
  .get-started-btn {
    margin: 15px auto;
  }
  .sec-download-app-img img {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  .sec-download-app-detail h3 {
    font-size: var(--main-font-size-heading);
  }
  .sec-download-app-detail h2 {
    font-size: var(--main-font-size-papagraph);
  }
  .sec-download-app-detail p {
    font-size: var(--main-font-size-sub-heading);
  }
  .testionials-slider-list .card .media {
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
  }
  .testionials-slider-list .card .media .media-body {
    text-align: center;
  }
  .testionials-slider .slick-next {
    right: -10px;
  }
  .testionials-slider .slick-prev {
    left: -10px;
  }
}

@media (max-width: 767.98px) and (min-width: 576px) {
  .main-banner-slider-left h1 {
    font-size: var(--main-font-size-heading);
    text-align: center;
    margin: 0 auto;
  }
  .main-banner-slider-left h1 span {
    font-size: var(--main-font-size-heading);
  }
  .main-banner-slider-left {
    margin-top: 40px;
  }
  .main-banner-slider-left p {
    width: 100%;
    text-align: center;
  }
  .main-banner-slider-right img {
    margin: 28px auto;
  }
  .life-to-pgo-tabs-img img {
    width: 100%;
    text-align: center;
    float: unset;
    margin: 0 auto;
  }
  .title-head {
    font-size: var(--main-font-size-heading);
  }
  .life-to-pgo .nav-pills .nav-link {
    font-size: var(--main-font-size-papagraph);
  }
  .life-to-pgo-tabs-detils {
    align-items: center;
  }
  .sec-download-app-detail {
    align-items: center;
  }
  h1 {
    font-size: var(--main-font-size-heading);
  }
  ul.amenities-icons {
    padding: 0px;
    margin: 0px;
  }
  #sec-download-app {
    background-color: var(--main-bg-color);
  }
  .m-50 {
    padding: 25px 0px;
  }

  .get-started-btn {
    margin: 15px auto;
  }

  .sec-download-app-img img {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  .sec-download-app-detail h3 {
    font-size: var(--main-font-size-heading);
  }
  .sec-download-app-detail h2 {
    font-size: var(--main-font-size-papagraph);
  }
  .sec-download-app-detail p {
    font-size: var(--main-font-size-sub-heading);
  }
  section#sec-pgo-amenities ul.amenities-icons li.amenities-icon h3 {
    font-size: var(--main-font-size-papagraph);
  }
  section#sec-pgo-amenities ul.amenities-icons li.amenities-icon {
    margin: 0 auto;
  }
  section#sec-pgo-amenities
    ul.amenities-icons
    li.amenities-icon
    div.icon-img
    img {
    width: 100px;
  }
  .testionials-slider-list .card .media {
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
  }
  .testionials-slider-list .card .media .media-body {
    text-align: center;
  }
  .testionials-slider .slick-next {
    right: 0px;
  }
  .testionials-slider .slick-prev {
    left: 0px;
  }
}

@media (max-width: 991.98px) and (min-width: 768px) {
  .main-banner-slider-right img {
    margin: 28px auto;
  }
  #sec-hero {
    min-height: initial;
  }
  .main-banner-slider-left {
    margin-top: 60px;
  }
  .main-banner-slider-left h1,
  .main-banner-slider-left h1 span {
    font-size: var(--main-font-size-heading);
  }
  .main-banner-slider-left p {
    width: 100%;
  }
  .life-to-pgo-tabs-img img {
    width: 100%;
    text-align: center;
    float: unset;
    margin: 0 auto;
  }
  .sec-download-app-detail ul li a img {
    width: 97px;
  }
  .sec-download-app-detail h3 {
    font-size: var(--main-font-size-heading);
  }
  .sec-download-app-detail h2 {
    font-size: var(--main-font-size-papagraph);
  }
  .sec-download-app-detail p {
    font-size: var(--main-font-size-sub-heading);
  }
}

@media (max-width: 1199.98px) and (min-width: 992px) {
  .sec-download-app-detail ul li a img {
    width: 115px;
  }
}

@media (min-width: 1440px) {
}

@media (min-width: 2000px) {
}
