@media (max-width: 575.98px) and (min-width: 300px) {
  .main-banner-slider-left h1 {
    font-size: var(--main-font-size-heading);
    text-align: center;
    margin: 0 auto;
  }
  #sec-hero {
    min-height: initial;
  }
  .main-banner-slider-left h1 span {
    font-size: var(--main-font-size-heading);
  }
  .main-banner-slider-left {
    margin-top: 100px;
    text-align: center;
  }
  .main-banner-slider-right img {
    margin: 28px auto;
  }
  .main-banner-slider-left p {
    width: 100%;
  }
}

@media (max-width: 767.98px) and (min-width: 576px) {
  .main-banner-slider-left h1 {
    font-size: var(--main-font-size-heading);
    text-align: center;
    margin: 0 auto;
  }
  #sec-hero {
    min-height: initial;
  }
  .main-banner-slider-left h1 span {
    font-size: var(--main-font-size-heading);
  }
  .main-banner-slider-left {
    margin-top: 40px;
  }
  .main-banner-slider-left p {
    width: 100%;
    text-align: center;
  }
  .main-banner-slider-right img {
    margin: 28px auto;
  }
}

@media (max-width: 991.98px) and (min-width: 768px) {
  #sec-hero {
    min-height: initial;
  }
  .main-banner-slider-right img {
    margin: 28px auto;
  }
  #sec-hero {
    min-height: initial;
  }
  .main-banner-slider-left {
    margin-top: 60px;
  }
  .main-banner-slider-left h1,
  .main-banner-slider-left h1 span {
    font-size: var(--main-font-size-heading);
  }
  .main-banner-slider-left p {
    width: 100%;
  }
}

@media (max-width: 1199.98px) and (min-width: 992px) {
  #sec-hero {
    min-height: initial;
  }
}

@media (min-width: 1440px) {
  #sec-hero {
    min-height: 70vh;
  }
}

@media (min-width: 2000px) {
}
