@media (min-width: 300px) and (max-width: 420px) {
  .life-to-pgo .nav-pills {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
  }
  .sec-download-app-detail ul li a img {
    width: 100px;
  }
}

@media (max-width: 575.98px) and (min-width: 300px) {
  .main-banner-slider-left h1 {
    font-size: var(--main-font-size-heading);
    text-align: center;
    margin: 0 auto;
  }
  .main-banner-slider-left h1 span {
    font-size: var(--main-font-size-heading);
  }
  .main-banner-slider-left {
    margin-top: 100px;
    text-align: center;
  }
  .main-banner-slider-right img {
    margin: 28px auto;
  }
  .main-banner-slider-left p {
    width: 100%;
  }
  .life-to-pgo-tabs-img img {
    width: 100%;
    text-align: center;
    float: unset;
    margin: 0 auto;
  }
  .title-head {
    font-size: var(--main-font-size-heading);
  }
  .life-to-pgo .nav-pills .nav-link {
    font-size: var(--main-font-size-papagraph);
  }
  .life-to-pgo-tabs-detils {
    align-items: center;
  }
  .sec-download-app-detail {
    align-items: center;
  }
}

@media (max-width: 767.98px) and (min-width: 576px) {
  .main-banner-slider-left h1 {
    font-size: var(--main-font-size-heading);
    text-align: center;
    margin: 0 auto;
  }
  .main-banner-slider-left h1 span {
    font-size: var(--main-font-size-heading);
  }
  .main-banner-slider-left {
    margin-top: 40px;
  }
  .main-banner-slider-left p {
    width: 100%;
    text-align: center;
  }
  .main-banner-slider-right img {
    margin: 28px auto;
  }
  .life-to-pgo-tabs-img img {
    width: 100%;
    text-align: center;
    float: unset;
    margin: 0 auto;
  }
  .title-head {
    font-size: var(--main-font-size-heading);
  }
  .life-to-pgo .nav-pills .nav-link {
    font-size: var(--main-font-size-papagraph);
  }
  .life-to-pgo-tabs-detils {
    align-items: center;
  }
  .sec-download-app-detail {
    align-items: center;
  }
}

@media (max-width: 991.98px) and (min-width: 768px) {
  .main-banner-slider-right img {
    margin: 28px auto;
  }
  #sec-hero {
    min-height: initial;
  }
  .main-banner-slider-left {
    margin-top: 60px;
  }
  .main-banner-slider-left h1,
  .main-banner-slider-left h1 span {
    font-size: var(--main-font-size-heading);
  }
  .main-banner-slider-left p {
    width: 100%;
  }
  .life-to-pgo-tabs-img img {
    width: 100%;
    text-align: center;
    float: unset;
    margin: 0 auto;
  }
  .sec-download-app-detail ul li a img {
    width: 97px;
  }
}

@media (max-width: 1199.98px) and (min-width: 992px) {
  .sec-download-app-detail ul li a img {
    width: 115px;
  }
}

@media (min-width: 1440px) {
}

@media (min-width: 2000px) {
}
