@import url(./global.css);

/* Global style */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-size: var(--main-font-size-papagraph);
}

h1 {
  font-family: "trueno-sb";
  font-size: var(--main-font-size-main-heading);
}

h2 {
  font-family: "trueno-sb";
  font-size: var(--main-font-size-heading);
}

h3 {
  font-family: "trueno-sb";
  font-size: var(--main-font-size-sub-heading);
}

h1,
h2,
h3,
p {
  color: var(--main-title-color);
}

/* Section Why PGO */
section#sec-why-pgo .why-pgo-icon img {
  width: 128px;
  height: 128px;
  padding: 15px;
}

section#sec-why-pgo li {
  border-bottom: 1px solid #dddddd;
  padding-top: 20px;
}

#sec-hero {
  background-image: url(../img/HomeBgmainbanner.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: initial;
  position: relative;
  overflow: hidden;
  padding: 20px 0px;
}

.main-banner-slider-left {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 150px;
  flex-flow: column nowrap;
}

.main-banner-slider-left h1 {
  font-family: "trueno-sb";
  color: var(--main-title-color);
  font-size: var(--main-font-size-main-heading);
}
.main-banner-slider-left h1 span {
  font-family: "trueno-l";
  color: var(--main-title-color);
  font-size: var(--main-font-size-main-heading);
}
.main-banner-slider-left p {
  font-family: "trueno-l";
  color: var(--main-black-color);
  font-size: var(--main-font-size-papagraph);
  width: 400px;
}
.main-banner-slider-right img {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}

/* home page main banner end */
